@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@media only screen and (max-width: 600px) {
  .sidebar-on {
    display: flex !important;
  }
  .mobile-sidebar-active {
    background-color: #6a99d6;
    cursor: default;
  }
  .mobile-sidebar-nonactive {
    cursor: pointer;
    transition: 0.2s;
  }
  .mobile-sidebar-nonactive:hover {
    background-color: #6a99d6;
  }
  .mobile-sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 0.4rem;
    border-radius: 1rem 1rem 0 0;
    text-decoration: none;
  }
  #sidebar {
    display: none !important;
  }
  #mobile-header {
    position: fixed;
    top: 0;
    background-color: #114b97;
    width: 100%;
    z-index: 100;
    color: white;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    display: flex;
  }
  #mobile-header-title {
    font-size: 1rem;
  }
  #mobile-header-logout {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
  }
  #mobile-sidebar {
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    padding: 0.5rem 0.5rem 0;
    background-color: #114b97;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar-on {
    display: flex !important;
  }
  .mobile-sidebar-active {
    background-color: #6a99d6;
    cursor: default;
  }
  .mobile-sidebar-nonactive {
    cursor: pointer;
    transition: 0.2s;
  }
  .mobile-sidebar-nonactive:hover {
    background-color: #6a99d6;
  }
  .mobile-sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 0.4rem;
    border-radius: 1rem 1rem 0 0;
    text-decoration: none;
  }
  #sidebar {
    display: none !important;
  }
  #mobile-header {
    position: fixed;
    top: 0;
    background-color: #114b97;
    width: 100%;
    z-index: 100;
    color: white;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    display: flex;
  }
  #mobile-header-title {
    font-size: 1rem;
  }
  #mobile-header-logout {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
  }
  #mobile-sidebar {
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    padding: 0.5rem 0.5rem 0;
    background-color: #114b97;
  }
}
@media only screen and (max-width: 600px) {
  #grid-layout {
    display: block !important;
  }
  #grid-layout .form {
    width: 100% !important;
  }
  #grid-layout #grid-image {
    display: none;
  }
  #transaction {
    width: 100%;
    height: 100vh;
    background-color: #d5dff1;
    padding: 3rem 0.5rem 0.5rem;
  }
  #transaction h1 {
    text-align: center;
    border: 4px double black;
  }
  #transaction-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 380px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  #transaction-data-body {
    font-size: 10px;
  }
  #transaction-data-body .body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    padding: 0 1rem 1rem;
  }
  #transaction-data-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #transaction-data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #transaction-data-header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1c1e1d;
    top: -5px;
  }
  #transaction-data-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1c1e1d;
    bottom: -5px;
  }
  #transaction-data-header .date {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 0.2rem;
    font-size: 8px;
  }
  #transaction-data-header .date p:nth-child(1) {
    font-weight: bold;
    margin: auto 0;
  }
  #transaction-data-header .date p:nth-child(2) {
    background-color: #1c1e1d;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
  }
  #transaction-data-header .date p:nth-child(3) {
    margin: auto 0;
  }
  #transaction-data-header .income {
    padding: 0;
    font-size: 10px;
  }
  #transaction-data-header .income p {
    color: #2222bd;
    font-weight: bold;
  }
  #transaction-data-header .outcome {
    padding: 0;
    font-size: 10px;
  }
  #transaction-data-header .outcome p {
    color: #bd2222;
    font-weight: bold;
  }
  #transaction-data::-webkit-scrollbar {
    display: none;
  }
  #transaction-menu {
    display: flex;
    gap: 0.5rem;
    background-color: rgba(6, 69, 38, 0.8117647059);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
  #transaction-menu #delete-transaction {
    background-color: #ff0000;
  }
  #transaction-menu #delete-transaction:hover {
    background-color: #e44040;
  }
  #transaction-menu #add-transaction {
    background-color: #1ae3cc;
  }
  #transaction-menu #edit-transaction {
    background-color: #1a1ae3;
  }
  #transaction-menu svg {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  #transaction-menu svg:hover {
    transform: scale(1.2);
  }
  #transaction-navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    gap: 0.2rem;
    background-color: #4a420e;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.7rem;
    position: relative;
  }
  #transaction-navbar section {
    width: 100%;
    text-align: center;
  }
  #transaction-navbar .income-section p {
    margin: 0;
    font-size: 12px;
  }
  #transaction-navbar .income-section p:nth-child(1) {
    color: white;
  }
  #transaction-navbar .income-section p:nth-child(2) {
    color: #85db79;
  }
  #transaction-navbar .outcome-section p {
    margin: 0;
    font-size: 12px;
  }
  #transaction-navbar .outcome-section p:nth-child(1) {
    color: white;
  }
  #transaction-navbar .outcome-section p:nth-child(2) {
    color: #e12b31;
  }
  #transaction-navbar .total-section p {
    margin: 0;
    font-size: 12px;
  }
  #transaction-navbar .total-section p:nth-child(1) {
    color: white;
  }
  #transaction-navbar .total-section p:nth-child(2) {
    color: #1ae3cc;
  }
  #transaction .transaction-trigger {
    position: fixed;
    bottom: 15%;
    right: -20px;
    background-color: rgba(6, 69, 38, 0.8117647059);
    color: white;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    font-size: 1rem;
    transition: 200ms;
    cursor: pointer;
    animation: transaction-trigger-enter 1000ms 1 linear;
  }
  #transaction .transaction-trigger-hide {
    opacity: 0;
    visibility: hidden;
  }
  #transaction .transaction-trigger:hover {
    right: 0;
  }
  #transaction .transaction-menu {
    position: fixed;
    bottom: 15%;
    right: -100%;
    transition: 300ms;
  }
  #transaction .transaction-menu-active {
    right: 20px;
  }
  @keyframes transaction-trigger-enter {
    from {
      right: -100%;
    }
    to {
      right: -20px;
    }
  }
}
@media only screen and (max-width: 600px) {
  #transaction-add {
    background-color: #d5dff1;
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0.5rem 5rem;
  }
  #transaction-add-title {
    text-align: center;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 600px) {
  #signup-page {
    width: 100%;
    height: 100vh;
    background-color: #d5dff1;
    padding: 2rem 0 3rem;
    overflow-y: scroll;
  }
  #signup-page h2 {
    text-align: center;
  }
  #signup-page form {
    width: 90%;
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin: auto;
    background-color: white;
  }
  #signup-page form div {
    margin: 0.5rem;
  }
  #signup-page form div input, #signup-page form div select {
    padding: 1rem;
    display: block;
    width: 100%;
  }
}
.income-section p {
  margin: 0;
  font-size: 16px;
}
.income-section p:nth-child(1) {
  color: white;
}
.income-section p:nth-child(2) {
  color: #85db79;
}

.outcome-section p {
  margin: 0;
  font-size: 16px;
}
.outcome-section p:nth-child(1) {
  color: white;
}
.outcome-section p:nth-child(2) {
  color: #e12b31;
}

.total-section p {
  margin: 0;
  font-size: 16px;
}
.total-section p:nth-child(1) {
  color: white;
}
.total-section p:nth-child(2) {
  color: #1ae3cc;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font-merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.font-merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}
.font-merriweather-medium {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.font-merriweather-medium-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}
.font-merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
.font-merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}
.font-merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.font-merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.font-playfair-light {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
}
.font-playfair-light-italic {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: italic;
}
.font-playfair-medium {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}
.font-playfair-medium-italic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}
.font-playfair-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}
.font-playfair-bold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}
.font-playfair-black {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}
.font-playfair-black-italic {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
}

.font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.font-poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.font-poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-poppins-reguler {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-poppins-reguler-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.font-poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.font-poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.font-poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.font-poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.font-poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.font-poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.font-poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.font-ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.font-ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.font-ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.form {
  /*
  Struktur HTML wajib label dan input yang dibungkus div, contoh:
  <div> 
  <label htmlFor="aset-name">Nama Aset : </label>
  <input />
  </div> 
  */
}
.form-input-basic label {
  display: block;
}

.item-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 200ms;
}
.item-container:hover {
  transform: scale(1.05);
}
.item-container:active {
  transform: scale(1);
}

.main-page {
  width: 100%;
  min-height: 100vh;
  background-color: #d5dff1;
  overflow-y: scroll;
}
.main-page::-webkit-scrollbar {
  display: none;
}

.title-page {
  text-align: center;
  border: 4px double black;
}

@media screen and (min-width: 950px) {
  .main-page {
    padding: 2rem 1rem 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .main-page {
    padding: 4rem 0 3rem;
  }
}
@media only screen and (max-width: 600px) {
  #login-form {
    padding: 1rem;
    text-align: center;
    background-color: rgba(179, 178, 178, 0.4980392157);
    min-height: 100vh;
  }
  #login-form #main-title {
    text-decoration: underline;
    color: #13862b;
  }
  #login-form h1 {
    margin: 1rem 0;
  }
  #login-form #grid-layout {
    background-color: white;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
  }
  #login-form #grid-layout input {
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
  }
  #login-form #grid-layout #login-button {
    display: block;
    margin: 1rem auto;
  }
  #login-form #grid-layout #google-login {
    background-color: white;
    border: 2px solid rgba(179, 178, 178, 0.4980392157);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    transition: 0.1s;
  }
  #login-form #grid-layout #google-login:hover {
    background-color: #ccc;
    color: white;
  }
  #login-form #grid-layout #google-login img {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (max-width: 600px) {
  #asset-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 10px;
  }
  #asset-detail {
    margin: 1rem 0;
  }
  #asset-footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 950px) {
  #transaction {
    width: 100%;
    min-height: 100vh;
    background-color: #d5dff1;
    padding: 1rem;
  }
  #transaction-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 380px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
  }
  #transaction-data-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #transaction-data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #transaction-data-header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1c1e1d;
    top: -5px;
  }
  #transaction-data-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1c1e1d;
    bottom: -5px;
  }
  #transaction-data-header .date {
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
    gap: 0.2rem;
  }
  #transaction-data-header .date p:nth-child(1) {
    font-weight: bold;
    margin: auto 0;
  }
  #transaction-data-header .date p:nth-child(2) {
    background-color: #1c1e1d;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
  }
  #transaction-data-header .date p:nth-child(3) {
    margin: auto 0;
  }
  #transaction-data-header .income {
    padding: 0 1rem;
  }
  #transaction-data-header .income p {
    color: #2222bd;
    font-weight: bold;
  }
  #transaction-data-header .outcome {
    padding: 0 1rem;
  }
  #transaction-data-header .outcome p {
    color: #bd2222;
    font-weight: bold;
  }
  #transaction-data::-webkit-scrollbar {
    display: none;
  }
  #transaction-menu {
    display: flex;
    gap: 0.5rem;
    background-color: rgba(6, 69, 38, 0.8117647059);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
  #transaction-menu #delete-transaction {
    background-color: #ff0000;
  }
  #transaction-menu #delete-transaction:hover {
    background-color: #e44040;
  }
  #transaction-menu #add-transaction {
    background-color: #1ae3cc;
  }
  #transaction-menu #edit-transaction {
    background-color: #1a1ae3;
  }
  #transaction-menu svg {
    width: 54px;
    height: 54px;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  #transaction-menu svg:hover {
    transform: scale(1.2);
  }
  #transaction-navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    gap: 0.2rem;
    background-color: #4a420e;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.7rem;
    position: relative;
  }
  #transaction-navbar section {
    width: 100%;
    text-align: center;
  }
  .transaction-trigger {
    position: fixed;
    bottom: 10px;
    right: -20px;
    background-color: rgba(6, 69, 38, 0.8117647059);
    color: white;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    transition: 200ms;
    cursor: pointer;
    animation: transaction-trigger-enter 1000ms 1 linear;
  }
  .transaction-trigger-hide {
    opacity: 0;
    visibility: hidden;
  }
  .transaction-trigger:hover {
    right: 0;
  }
  .transaction-menu {
    position: fixed;
    bottom: 10px;
    right: -100%;
    transition: 300ms;
  }
  .transaction-menu-active {
    right: 20px;
  }
  @keyframes transaction-trigger-enter {
    from {
      right: -100%;
    }
    to {
      right: -20px;
    }
  }
}
@media screen and (min-width: 950px) {
  #account {
    text-align: center;
    border: 4px double white;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    transition-duration: 200ms;
  }
  #account:hover {
    color: black;
    border-color: black;
  }
  #sidebar {
    min-height: 100vh;
    background-color: rgba(17, 75, 151, 0.4980392157);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  #sidebar-header {
    display: grid;
    grid-template-columns: 80% auto;
    position: relative;
  }
  #sidebar-header-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
  }
  #sidebar-header-title {
    color: white;
    font-size: 1.2rem;
    margin: auto 0;
    text-decoration: underline;
    cursor: default;
  }
  #sidebar-menu {
    border-top: 4px double white;
    border-bottom: 4px double white;
  }
  #sidebar-menu h2 {
    color: white;
    cursor: default;
  }
  #sidebar-footer h2 {
    color: white;
  }
  #mobile-sidebar {
    display: none;
  }
  #mobile-header {
    display: none;
  }
  .sidebar-on {
    display: grid;
    grid-template-columns: 20% auto;
  }
  .sidebar-off {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  #signup-page {
    width: 100%;
    height: 100vh;
    background-color: #d5dff1;
    padding: 2rem 0 3rem;
    overflow-y: scroll;
  }
  #signup-page h2 {
    text-align: center;
  }
  #signup-page form {
    width: 50%;
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin: auto;
    background-color: white;
  }
  #signup-page form div {
    margin: 0.5rem;
  }
  #signup-page form div input, #signup-page form div select {
    padding: 1rem;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 950px) {
  #transaction-add {
    background-color: #d5dff1;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
  }
  #transaction-add-title {
    text-align: center;
    text-decoration: underline;
  }
}
.income-section p {
  margin: 0;
  font-size: 16px;
}
.income-section p:nth-child(1) {
  color: white;
}
.income-section p:nth-child(2) {
  color: #85db79;
}

.outcome-section p {
  margin: 0;
  font-size: 16px;
}
.outcome-section p:nth-child(1) {
  color: white;
}
.outcome-section p:nth-child(2) {
  color: #e12b31;
}

.total-section p {
  margin: 0;
  font-size: 16px;
}
.total-section p:nth-child(1) {
  color: white;
}
.total-section p:nth-child(2) {
  color: #1ae3cc;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font-merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.font-merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}
.font-merriweather-medium {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.font-merriweather-medium-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}
.font-merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
.font-merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}
.font-merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.font-merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.font-playfair-light {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
}
.font-playfair-light-italic {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: italic;
}
.font-playfair-medium {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}
.font-playfair-medium-italic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}
.font-playfair-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}
.font-playfair-bold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}
.font-playfair-black {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}
.font-playfair-black-italic {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
}

.font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.font-poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.font-poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-poppins-reguler {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-poppins-reguler-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.font-poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.font-poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.font-poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.font-poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.font-poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.font-poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.font-poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.font-ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.font-ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.font-ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.form {
  /*
  Struktur HTML wajib label dan input yang dibungkus div, contoh:
  <div> 
  <label htmlFor="aset-name">Nama Aset : </label>
  <input />
  </div> 
  */
}
.form-input-basic label {
  display: block;
}

.item-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 200ms;
}
.item-container:hover {
  transform: scale(1.05);
}
.item-container:active {
  transform: scale(1);
}

.main-page {
  width: 100%;
  min-height: 100vh;
  background-color: #d5dff1;
  overflow-y: scroll;
}
.main-page::-webkit-scrollbar {
  display: none;
}

.title-page {
  text-align: center;
  border: 4px double black;
}

@media screen and (min-width: 950px) {
  .main-page {
    padding: 2rem 1rem 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .main-page {
    padding: 4rem 0 3rem;
  }
}
@media screen and (min-width: 950px) {
  #login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(179, 178, 178, 0.4980392157);
  }
  #login-form #main-title {
    color: rgb(19, 134, 43);
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  #login-form #grid-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: azure;
    width: 60%;
    height: 80%;
    border-radius: 1rem;
  }
  #login-form #grid-layout .form {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
  }
  #login-form #grid-layout .form h1 {
    text-decoration: underline;
  }
  #login-form #grid-layout .form input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  #login-form #grid-layout .form #google-login {
    background-color: white;
    border: 2px solid rgba(179, 178, 178, 0.4980392157);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    transition: 0.1s;
  }
  #login-form #grid-layout .form #google-login:hover {
    background-color: #ccc;
    color: white;
  }
  #login-form #grid-layout .form #google-login img {
    width: 32px;
    height: 32px;
  }
  #login-form #grid-layout #grid-image {
    border-radius: 1rem;
    background: url("/public/images/login-form.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media screen and (min-width: 950px) {
  #asset-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    margin: 1rem 0;
  }
  #asset-detail {
    margin: 1rem 0;
  }
  #asset-footer {
    justify-content: center !important;
  }
}
.income-section p {
  margin: 0;
  font-size: 16px;
}
.income-section p:nth-child(1) {
  color: white;
}
.income-section p:nth-child(2) {
  color: #85db79;
}

.outcome-section p {
  margin: 0;
  font-size: 16px;
}
.outcome-section p:nth-child(1) {
  color: white;
}
.outcome-section p:nth-child(2) {
  color: #e12b31;
}

.total-section p {
  margin: 0;
  font-size: 16px;
}
.total-section p:nth-child(1) {
  color: white;
}
.total-section p:nth-child(2) {
  color: #1ae3cc;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font-merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.font-merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}
.font-merriweather-medium {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.font-merriweather-medium-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}
.font-merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
.font-merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}
.font-merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.font-merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.font-playfair-light {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
}
.font-playfair-light-italic {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: italic;
}
.font-playfair-medium {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}
.font-playfair-medium-italic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}
.font-playfair-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}
.font-playfair-bold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}
.font-playfair-black {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}
.font-playfair-black-italic {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
}

.font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.font-poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.font-poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-poppins-reguler {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-poppins-reguler-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.font-poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.font-poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.font-poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.font-poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.font-poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
.font-poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.font-poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.font-ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.font-ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.font-ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.font-ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.font-ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.form {
  /*
  Struktur HTML wajib label dan input yang dibungkus div, contoh:
  <div> 
  <label htmlFor="aset-name">Nama Aset : </label>
  <input />
  </div> 
  */
}
.form-input-basic label {
  display: block;
}

.item-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 200ms;
}
.item-container:hover {
  transform: scale(1.05);
}
.item-container:active {
  transform: scale(1);
}

.main-page {
  width: 100%;
  min-height: 100vh;
  background-color: #d5dff1;
  overflow-y: scroll;
}
.main-page::-webkit-scrollbar {
  display: none;
}

.title-page {
  text-align: center;
  border: 4px double black;
}

@media screen and (min-width: 950px) {
  .main-page {
    padding: 2rem 1rem 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .main-page {
    padding: 4rem 0 3rem;
  }
}
@media screen and (min-width: 950px) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6235294118);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-delete, .popup-edit {
    width: 50%;
    background-color: white;
    border-radius: 1rem;
    border: 8px #85db79 double;
    padding: 1rem;
    overflow-y: scroll;
    max-height: 500px;
  }
  .popup-delete-header, .popup-edit-header {
    text-align: center;
  }
  .popup-delete::-webkit-scrollbar, .popup-edit::-webkit-scrollbar {
    display: none;
  }
  .popup-delete-body {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fdeded;
    color: #5f2120;
    border: 2px dashed red;
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6235294118);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-delete, .popup-edit {
    width: 95%;
    background-color: white;
    border-radius: 1rem;
    border: 8px #85db79 double;
    padding: 0.5rem;
    overflow-y: scroll;
    max-height: 500px;
  }
  .popup-delete-header, .popup-edit-header {
    text-align: center;
  }
  .popup-delete::-webkit-scrollbar, .popup-edit::-webkit-scrollbar {
    display: none;
  }
  .popup-delete-body {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #fdeded;
    color: #5f2120;
    border: 2px dashed red;
    border-radius: 1rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes transaction-menu-open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-menu-open {
  animation: transaction-menu-open 0.3s linear;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  border-style: dashed;
  border-width: 2px;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.alert-warning {
  border-color: orange;
  background-color: #fff4e5;
  color: #663c00;
}

.body {
  display: grid;
  grid-template-columns: 20% auto 20%;
  padding: 0 1rem 1rem;
}
.body-delete, .body-edit {
  display: grid;
  grid-template-columns: 3% 20% auto 20%;
  padding: 0 1rem 1rem;
  position: relative;
}
.body-delete section:nth-child(2), .body-edit section:nth-child(2) {
  text-align: left;
}
.body-delete section:nth-child(3), .body-edit section:nth-child(3) {
  text-align: center;
  margin: auto 0;
}
.body-delete section:nth-child(4), .body-edit section:nth-child(4) {
  text-align: right;
}
.body-delete-icon {
  color: red;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  position: relative;
  top: -20%;
}
.body-delete-icon:hover {
  transform: scale(1.1);
  background-color: red;
  color: white;
}
.body-edit-icon {
  color: #1500ff;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  position: relative;
  top: -20%;
}
.body-edit-icon:hover {
  transform: scale(1.1);
  background-color: #0004ff;
  color: white;
}
.body section:nth-child(1) {
  text-align: left;
}
.body section:nth-child(2) {
  text-align: center;
  margin: auto 0;
}
.body section:nth-child(3) {
  text-align: right;
}

.button-navigation-1 {
  background-color: #007bff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-navigation-1:hover {
  background-color: #0056b3;
}
.button-navigation-1:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.button-navigation-1-active {
  background-color: #0056b3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  cursor: default !important;
  outline: 2px solid #fff;
}

.button-success {
  background-color: #25ad0a;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-success:hover {
  background-color: #85ce66;
}
.button-success:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.button-success-active {
  background-color: #85ce66;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  cursor: default !important;
  outline: 2px solid #fff;
}

.button-close {
  background-color: #b01616;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-close:hover {
  background-color: #eb2626;
}
.button-close:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}
.button-close-active {
  background-color: #eb2626;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
  cursor: default !important;
  outline: 2px solid #fff;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.container-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 200px;
  position: relative;
  color: #0004ff;
}
.container-filter::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #0004ff;
}

.sidebar-list {
  display: flex;
  gap: 0.2rem;
  margin: 0.2rem 0;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem 1rem;
}
.sidebar-list:hover {
  color: black;
  background-color: rgba(7, 35, 72, 0.4980392157);
}
.sidebar-list-active {
  color: black;
  background-color: rgba(7, 35, 72, 0.4980392157);
  cursor: default !important;
}

.form-basic {
  padding: 1rem 0;
}

.form-date {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-date label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-date input[type=date] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #f9f9f9;
  color: #333;
}

.form-navigation {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.form-radio {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}
.form-radio section {
  display: flex;
  gap: 0.5rem;
}

.form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-submit:hover {
  background-color: #0056b3;
}

.form-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-text label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-text input[type=text], .form-text input[type=number] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #f9f9f9;
  color: #333;
}

/*# sourceMappingURL=style.css.map */
