@use "../utils/mixins" as *;
@import "layout";

// Mobile Responsive Design Start
@media only screen and (max-width: 600px) {
  #grid-layout {
    // width: 80% !important;
    display: block !important;

    .form {
      width: 100% !important;
    }

    #grid-image {
      display: none;
    }
  }

  #transaction {
    width: 100%;
    height: 100vh;
    background-color: #d5dff1;
    padding: 0.5rem;

    h1 {
      text-align: center;
      border: 4px double black;
    }

    &-data {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: 380px;
      overflow-y: scroll;
      background-color: white;
      border-radius: 1rem;
      padding: 0.5rem;

      &-body {
        font-size: 10px;
        .body {
          display: grid;
          grid-template-columns: 20% auto 20%;
          padding: 0 1rem 1rem;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::before {
          @include sidebar-pseudo-data-header();
          top: -5px;
        }
        &::after {
          @include sidebar-pseudo-data-header();
          bottom: -5px;
        }

        .date {
          display: flex;
          justify-content: flex-start;
          padding: 0;
          gap: 0.2rem;
          font-size: 8px;

          p {
            &:nth-child(1) {
              font-weight: bold;
              margin: auto 0;
            }
            &:nth-child(2) {
              background-color: #1c1e1d;
              color: white;
              padding: 0.2rem;
              border-radius: 0.2rem;
            }
            &:nth-child(3) {
              margin: auto 0;
            }
          }
        }

        .income {
          padding: 0;
          font-size: 10px;

          p {
            color: #2222bd;
            font-weight: bold;
          }
        }

        .outcome {
          padding: 0;
          font-size: 10px;

          p {
            color: #bd2222;
            font-weight: bold;
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-menu {
      @include transaction-menu(40px, 40px);
    }

    &-navbar {
      @include transaction-navbar();

      .income-section {
        @include font-column-1(white, #85db79, 12px);
      }

      .outcome-section {
        @include font-column-1(white, #e12b31, 12px);
      }

      .total-section {
        @include font-column-1(white, #1ae3cc, 12px);
      }
    }

    .transaction-trigger {
      position: fixed;
      bottom: 15%;
      right: -20px;
      background-color: #064526cf;
      color: white;
      border: none;
      border-radius: 1rem 0 0 1rem;
      padding: 1rem;
      font-size: 1rem;
      transition: 200ms;
      cursor: pointer;
      animation: transaction-trigger-enter 1000ms 1 linear;

      &-hide {
        opacity: 0;
        visibility: hidden;
      }

      &:hover {
        right: 0;
      }
    }

    .transaction-menu {
      position: fixed;
      bottom: 15%;
      right: -100%;
      transition: 300ms;

      &-active {
        right: 20px;
      }
    }

    @keyframes transaction-trigger-enter {
      from {
        right: -100%;
      }
      to {
        right: -20px;
      }
    }
  }
}
// Mobile Responsive Design End
