.setting-navbar{
    display: block;
    padding: .5rem 1rem;
    transition: 200ms;
    border-radius: .5rem;

    &:hover{
        background-color: #b2b2b2d5;
        color: #100e17;
    }

    a{
        text-decoration: none;
        color: #100e17;
        font-weight: bold;
    }
    
    &-active{
        background-color: #b2b2b2d5;
        color: rgb(12, 12, 12);
        cursor: default;
    }
}

@media screen and (min-width:950px){
    #setting-page{
        display: grid;
        padding: 1rem;
        grid-template-columns: 30% auto;
        min-height: 100%;

        &-nav{
            padding: 1rem;
            overflow-y: scroll;
        }

        &-profile, &-security{
            padding: 1rem;
        }
    }
}