@import "../utils/variables";

@media screen and (min-width: 950px){
    #signup-page{
        width: 100%;
        height: 100vh;
        background-color: $-main-background;
        padding: 2rem 0 3rem;
        overflow-y: scroll;
        
        h2{
            text-align: center;
        }
        
    }
}
