// All Mixins Start

@mixin button-style($-background, $-hover-color, $-text-color) {
  background-color: $-background;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  color: $-text-color;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $-hover-color;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
  }

  &-active {
    background-color: $-hover-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
    cursor: default !important;
    outline: 2px solid #fff;
  }
}

@mixin container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #b3b2b27f;
}

@mixin transaction-menu($-svg-width: 54px,$-svg-height:54px ) {
  display: flex;
  gap: 0.5rem;
  background-color: #064526cf;
  border-radius: 1rem;
  padding: 0.5rem 1rem;

  #delete-transaction {
    background-color: #ff0000;

    &:hover {
      background-color: #e44040;
    }
  }

  #add-transaction {
    background-color: #1ae3cc;
  }

  #edit-transaction {
    background-color: #1a1ae3;
  }

  svg {
    width: $-svg-width;
    height: $-svg-height;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@mixin transaction-navbar(){
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  gap: 0.2rem;
  background-color: #4a420e;
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.7rem;
  position: relative;

  section {
    width: 100%;
    text-align: center;
  }
}

// FONT MIXINS
@mixin font-column-1($-top-text-color, $-bottom-text-color, $-font-size: 16px){
    p {
        margin: 0;
        font-size: $-font-size;
        &:nth-child(1) {
            color: $-top-text-color;
        }
        &:nth-child(2) {
            color: $-bottom-text-color;
        }
    }
}

@mixin form($-width: 100%) {
  width: $-width;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

@mixin form-input($-width: 100%) {
  width: $-width;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
}

@mixin sidebar {
  color: black;
  background-color: #0723487f;
}

@mixin sidebar-pseudo-data-header {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1c1e1d;
}

@mixin svgIcons($-icon-color, $-hover-color) {
  color: $-icon-color;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  position: relative;
  top: -20%;

  &:hover {
    transform: scale(1.1);
    background-color: $-hover-color;
    color: white;
  }
}

// All Mixins END
