// All Variables Start
$-danger-background: #fdeded !default;
$-danger-text: #5f2120 !default;
$-warning-background: #fff4e5 !default;
$-warning-text: #663c00 !default;

$-mobile-font-normal: 10px;

$-main-background: #d5dff1;

// All Variables End